/* Categories Cloud */

#categoriesCloud {
   margin: auto;
}

#categories {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

#categories a {
  color: rgb(252, 245, 245);
  background-color: rgb(90, 82, 73);
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}



/* Tags Cloud */


#tags {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

#tags a {
  color: rgb(28, 52, 184);
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}


.divArticle{
  border: 1px solid black;
  margin-top: 10px;
}
